@model Contracts.Database.ToDoList

@{
    ViewData["Title"] = "Create New List";
}

<link rel="stylesheet" href="~/css/create-new-list.css" />

<form asp-action="CreateNewList" enctype="multipart/form-data" class="new-list-from">
    <h3 class="from-title">New ToDo list</h3>
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Name" placeholder="name" class="form-control input-element" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Description" placeholder="description" class="form-control input-element" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group create-and-back">
        <input type="submit" value="Create" class="submit-form-btn" />
    </div>
</form>