@{
    ViewData["Title"] = "sign-up";
}

<link rel="stylesheet" href="~/css/sign-up.css" />

<div class="sing-up-form">
    <div class="sign-up-header sign-up-element">
        <h3>Sign up</h3>
    </div>


    <div class="sign-up-username sign-up-element">
        <input type="text" placeholder="username" class="username-input input-element">
    </div>

    <div class="sign-up-email sign-up-element">
        <input type="email" placeholder="email" class="email-input input-element">
    </div>

    <div class="sign-up-password sign-up-element">
        <input type="password" placeholder="password" class="password-input input-element">
    </div>

    <div class="sign-up-confirm-password sign-up-element">
        <input type="password" placeholder="confirm password" class="confirm-password-input input-element">
    </div>

    <div class="sign-up-confirmation sign-up-element">
        <button class="sign-up-button-disable input-element">Sign Up</button>
    </div>    
</div>
