.to-do-lists-wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
}

.row
{
    padding-top: 40px;
}

.to-to-list-card
{
    padding: 10px;
    margin-top: 50px;
    background-color: #97CAFF;
    border-radius: 20px;
    width: 200px;
    height: 200px;

    transition: all .2s ease-in-out;

    display: block;
    position: relative;
}

.to-to-list-card:hover
{
    box-shadow: 0px 0px 10px 5px rgba(89, 172, 255, 0.4);
    background-color: #3095FF;
    cursor: pointer;
    transform: scale(1.05);
}

.link-card
{
    text-decoration: none;
    color: inherit;
}

.link-card:hover
{
    text-decoration: none;
    color: inherit;
}

.card-title
{
    display: inline;
    position: relative;
}

.list-name
{
    font-size: xx-large;
    font-weight: 500;
}

.progress-wrapper
{
    width: 100%;
    background-color: #ffffff;
    height: 20px;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
}

.progress-bar
{
    border-radius: 10px;
    color: black;
    height: 100%;
    background-color: #25b12c;
}

.progress-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.delete-button
{
    font-size: x-large;
    font-weight: 500;

    color: white;

    position: absolute;
    top: -5px;
    right: 5px;
}

.delete-button:hover
{
    text-shadow: 0px 0px 10px white;
}

.list-description
{
    margin-top: 5px;
}

.list-creation-date
{
    position: absolute;
    bottom: 10px;
    left: 10px;

    margin-top: 80px;
}


.create-to-do-list
{
    margin-top: 50px;
    background-color: #97CAFF;
    border-radius: 20px;
    width: 200px;
    height: 200px;

    transition: all .2s ease-in-out;
}

.create-to-do-list:hover
{
    box-shadow: 0px 0px 10px 5px rgba(89, 172, 255, 0.4);
    background-color: #3095FF;
    cursor: pointer;
    transform: scale(1.05);
}

.add-sign
{
    color: white;
    font-size: 12em;

    transform: translateY(-23%) translateX(25%);

    transition: all .2s ease-in-out;
}

.add-sign:hover
{
    cursor: pointer;
}