.sing-up-form
{
    width: 20rem;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px 10px rgba(221, 221, 221, 0.623);
    
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.sign-up-element
{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.input-element
{
    border: solid 1px;
    border-color: #D9D9D9;
    border-radius: 5px;
    padding: 5px;
    background-color: #E9F0FE;
    width: 90%;
}

.input-element:hover
{
    border-color: #59ACFF;
}

.input-element:focus
{
    box-shadow: 0px 0px 0px 2px rgba(89, 172, 255, 0.4);
    border: solid 1px;
    border-color: #59ACFF;
    outline: none;
}

.input-element-warning
{
    border: solid 1px;
    border-color: red;
    border-radius: 5px;
    padding: 5px;
    background-color: #FEEAE9;
    width: 90%;
}

.input-element-warning:hover
{
    border-color: red;
}

.input-element-warning:focus
{
    box-shadow: 0px 0px 0px 2px rgba(248, 209, 209, 1);
    border: solid 1px;
    border-color: red;
    outline: none;
}

.sign-up-header
{
    margin-bottom: 50px;
}

.sign-up-button-enable
{
    color: white;
    border: none;
    padding: 10px;
    background-color: #3095FF;
    margin-top: 20px;
}

.sign-up-button-disable
{
    color: white;
    border: none;
    padding: 10px;
    background-color: #97CAFF;
    margin-top: 20px;
}